/* Ajusta el diseño del header */
header {
    background-color: #e6e1e1;
    color: #000000;
    padding: 10px 0;
    text-align: center; /* Centra el contenido */
}

.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.search-box {
    flex-grow: 1;
    display: inline-block;
}

.search-box input[type="text"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-box button {
    padding: 10px 20px;
    background-color: #ff9900;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/*carrito*/
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #333; /* Color del texto */
    display: flex;
    align-items: center;
}
nav ul li a:hover{
 color: #008cba;
}

nav ul li a img {
    width: 20px; /* Ajusta el tamaño de la imagen según sea necesario */
    margin-right: 5px; /* Espacio entre la imagen y el texto */
}
/* Estilos para las categorías */
.categorias {
    background-color: #f2f2f2;
    padding: 20px 0;
    text-align: center;
}

.categorias ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.categorias ul li {
    display: inline-block;
    margin: 0 10px;
}

.categorias ul li a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
}

.categorias ul li a:hover {
    color: #555;
}
/* imagen de portada */

.carousel-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    margin-top: 20px; /* Puedes ajustar el margen según sea necesario */
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    color: black;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}
/* margen para novedades */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.productos {
    display: flex;
    flex-wrap: nowrap; /* Evita que los productos se desborden */
    overflow-x: auto; /* Agrega desplazamiento horizontal */
    -webkit-overflow-scrolling: touch; /* Desplazamiento suave en iOS */
    padding: 20px;
}

.producto {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 20px; /* Espacio entre productos */
    padding: 20px;
    max-width: 300px;
    text-align: center;
}

.producto:last-child {
    margin-right: 0; /* Elimina el espacio en el último producto */
}

.producto h2 {
    margin-top: 0;
}

.producto img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.producto button {
    background-color: #008cba;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.producto button:hover {
    background-color: #005f70;
}
/*botones*/

.novedades{
    margin: 20px;
}
.mas{
    margin: 20px;
}
.image{
    margin: 20px;
}
.image img {
    max-width: 100%; /* Para que la imagen no se desborde del contenedor */
    max-height: 100%; 
    
}
/* imagenes antes del footer */
.image-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 20px; /* Agrega un margen izquierdo */
    margin-right: 20px; /* Agrega un margen derecho */
}

.image-container img {
    width: 30%; /* Ajusta el tamaño de las imágenes según sea necesario */
    border-radius: 8px; /* Agrega esquinas redondeadas */
    margin: 0 5px; /* Agrega márgenes a las imágenes */
}
/* pie de pagina*/
footer {
    background-color: #e6e1e1;
    color: black;
    text-align: center;
    padding: 10px 0;
    display: flex;
    height: 23vh;
    width: 100%;
 }

 .ubicacion{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 30%;

    }
    .ubicacion h2{
        height: 30%;
    }
    .pos{
        height: 70%;
    }
    .ubicacion iframe{
        width: 60%;
    }
.redes-sociales {
    display: flex;
    align-items: center;
    height: 100%;
    width: 70%;
    padding-left: 12%;
 }

 .redes-sociales a {
    margin: 0 10px; /* Ajusta el margen entre las imágenes */
 }

 .redes-sociales img {
   width: 30px; /* Ajusta el tamaño de las imágenes */
   height: auto;
 }
 /*mensaje*/
 .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 5px solid #008cba;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 40%;
    text-align: center;
  }
 
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: rgb(190, 117, 117);
    text-decoration: none;
    cursor: pointer;
  }
  
 /*libros gratis*/
 .libros-gratis .productos-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 10px;
    margin-left: 190px;
}

.libros-gratis .producto {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}



